<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="litedb" connectionString="Filename=|DataDirectory|\MR.Litedb"/>
		<add name="MsSql" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=|DataDirectory|\MRDb.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="sqlite" connectionString="data source=|DataDirectory|\MR.sqlite" providerName="System.Data.SQLite.EF6" />
	</connectionStrings>
</configuration>